@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background:linear-gradient(rgb(195, 20, 20),rgba(180, 180, 36, 0)), url("/frontend/public/bg.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
 
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  cursor:pointer;
  width:8px;
}
::-webkit-scrollbar-track{
  
  background:#555;
}
::-webkit-scrollbar-thumb {
  background:#121212;
  border-radius:5px;
}

::-webkit-scrollbar-thumb:hover{
  background:#242424;
}